<div class="row">
  <div class="card " style="width:400px;margin-left:10%;margin-top:4%"  *ngFor="let music of musicdb[0].artists">
          <img class="card-img-top img-fluid" src="../assets/covers/{{music.cover}}.jpg" alt="Card image">
          <div class="card-body">
          <h4 class="card-title">{{music.name}}</h4>
          <p class="card-text">{{music.bio}}</p>
          <a href="#demo{{music.id}}" class="btn btn-primary" data-toggle="collapse">See Albums</a>
          <div id="demo{{music.id}}" class="collapse">
              <div class="row">
                  <div class="card col-sm-6" style="width:200px;"  *ngFor="let album of music.albums">
                      <img class="card-img-top" src="../assets/albums/{{album.cover}}.jpg" alt="Card image">
                      <div class="card-body">
                          <h4 class="card-title">{{album.title}}</h4>
                      </div>
                  </div>
               </div>
          </div>
  </div>
</div>