<div class="panel panel-primary">
  <div class="panel-heading">
    Customer Forms
  </div>
  <div class="panel-body">
    <form #form="ngForm" (submit)="formSubmit(form)">
      <div class="form-group" [class.has-error]="FirstName.invalid">
          <label class="control-label"
                for="firstName">FirstName</label>
          <input type="text" 
                  class="form-control"
                  id="firstName"
                  name="firstName"
                  placeholder="FirstName"
                  [ngModel]="model.firstName"
                  (ngModelChange)="firstToUpper($event)"
                  #FirstName="ngModel"
                  required/>
                  <div class="alert alert-danger" *ngIf="FirstName.invalid">
                    First Name Is required
                  </div>
          <h3>Classes</h3>
          <h4>{{FirstName.className}}</h4>
          <h4>{{FirstName.invalid}}</h4>
         
      </div>
      <div class="form-group">
          <label class="comtrol-label"
              for="lastName">LastName</label>
          <input type="text" 
                class="form-control"
                id="lastName"
                name="lastName"
                [(ngModel)]="model.lastName"
                placeholder="LastName"/>
      </div>
      <div class="form-group" [class.has-error]="password.invalid && password.touched">
        <label class="control-label"
            for="password">Password</label>
        <input type="password" 
              class="form-control"
              id="password"
              name="password"
              [(ngModel)]="model.password"
              minlength="8"
              #password="ngModel"
              placeholder="password"/>
              <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
                Min Length should be 8
              </div>
    </div>
      <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <label class="control-label"
            for="email">Email</label>
        <input type="email" 
              class="form-control"
              id="email"
              name="email"
              [(ngModel)]="model.email"
              pattern="^([a-zA-Z0-9\.\-]+)@([a-zA-Z0-9\.\-]+)\.([a-zA-Z]{2,5})$"
              #email="ngModel"
              placeholder="email"/>
              <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
                Please enter valid email
              </div>
        </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"
                name="fulltime"
                [(ngModel)]="model.fulltime"
                value="fulltime"/>FullTime
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio"
                name="gender"
                [(ngModel)]="model.gender"
                value="female"/>Female
        </label>
      </div>
      <div class="radio">
          <label>
              <input type="radio"
                    value="male"
                    [(ngModel)]="model.gender"
                    name="gender"/>Male
            </label>
      </div>
      <div class="form-group" [class.has-error]="hasCodeLangError">
        <label>Code Lang</label>
        <select class="form-control"
            name="codelang"
            [(ngModel)]="model.codelang"
            (blur)="validateCodeLang($event)">
            <option value="default">Please select lang</option>
            <option *ngFor="let lang of languages">
              {{lang}}
            </option>
        </select>
          <div class="alert alert-danger" *ngIf="hasCodeLangError">
            Please enter valid email
          </div>

      </div>
      <button type="submit" class="btn btn-success"
      [disabled]="hasCodeLangError">Submit</button>
      &nbsp;
      <input type="reset" class="btn btn-danger"/>
    </form>
  </div>
</div>