<div class="panel panel-danger">
    <div class="panel-heading">
        Employee Form
    </div>
    <div class="panel-body">
        <form class="form-horizontal"
              (ngSubmit)="save()"
              [formGroup]="employeeForm">
                <div  class="form-group" [ngClass]="{'has-error':(employeeForm.get('firstName').touched ||
                                                                 employeeForm.get('firstName').dirty) &&
                                                                 !employeeForm.get('firstName').valid}">
                    <label class="col-md-2 control-label" for="fname">FirstName</label>
                    <div class="col-md-8">
                        <input class="form-control"
                                type="text"
                                id="fname"
                                placeholder="enter First Name"
                                formControlName="firstName"/>
                        <span class="help-block" *ngIf="(employeeForm.get('firstName').touched ||
                                                        (employeeForm.get('firstName').dirty) &&
                                                        (employeeForm.get('firstName').errors))">
                                <span *ngIf="employeeForm.get('firstName').errors.required">
                                    Please enter firstName
                                </span>
                                <span *ngIf="employeeForm.get('firstName').errors.minlength">
                                   Min length should be 3
                                </span>

                        </span>
                    </div>
                </div>
                <div  class="form-group" [ngClass]="{'has-error':(employeeForm.get('lastName').touched ||
                                                                 employeeForm.get('lastName').dirty) &&
                                                                 !employeeForm.get('lastName').valid}">
                        <label class="col-md-2 control-label" for="lname">LastName</label>
                        <div class="col-md-8">
                            <input class="form-control"
                                    type="text"
                                    id="lname"
                                    placeholder="enter Last Name"
                                    formControlName="lastName"/>
                        <span class="help-block" *ngIf="(employeeForm.get('lastName').touched ||
                                                        (employeeForm.get('lastName').dirty) &&
                                                        (employeeForm.get('lastName').errors))">
                                        <span *ngIf="employeeForm.get('lastName').errors.required">
                                            Please enter lastName
                                        </span>
                                        <span *ngIf="employeeForm.get('lastName').errors.maxlength">
                                       Max lenght is 5
                                        </span>

                        </span>
                        </div>
                </div>
                <div  class="form-group" [ngClass]="{'has-error':(employeeForm.get('email').touched ||
                                                                 employeeForm.get('email').dirty) &&
                                                                 !employeeForm.get('email').valid}">
                    <label class="col-md-2 control-label" for="email">Email</label>
                    <div class="col-md-8">
                        <input class="form-control"
                                type="text"
                                id="email"
                                placeholder="enter Email"
                                formControlName="email"/>
                    <span class="help-block" *ngIf="(employeeForm.get('email').touched ||
                                                    (employeeForm.get('email').dirty) &&
                                                    (employeeForm.get('email').errors))">
                        <span *ngIf="employeeForm.get('email').errors.required">
                            Please enter email
                        </span>
                        <span *ngIf="employeeForm.get('email').errors.pattern">
                           Please enter valid email
                        </span>

                    </span>
                </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button type="submit"
                                    class="btn btn-success">
                                    Submit
                            </button>   
                        </span> &nbsp;
                        <span>
                            <button type="button"
                                    class="btn btn-primary"
                                    (click)="populateData()">
                                    Test Data
                            </button>   
                        </span>&nbsp;
                        <span>
                            <button type="reset"
                                    class="btn btn-danger">
                                    Reset
                            </button>   
                        </span>
                    </div>
                </div>
        </form>
    </div>
</div>