<div class="panel panel-danger">
    <div class="panel-heading">
        Employee Form
    </div>
    <div class="panel-body">
        <form class="form-horizontal"
              (ngSubmit)="save()"
              [formGroup]="employeeForm">
                <div  class="form-group" [ngClass]="{'has-error':(employeeForm.get('firstName').touched ||
                                                                 employeeForm.get('firstName').dirty) &&
                                                                 !employeeForm.get('firstName').valid}">
                    <label class="col-md-2 control-label" for="fname">FirstName</label>
                    <div class="col-md-8">
                        <input class="form-control"
                                type="text"
                                id="fname"
                                placeholder="enter First Name"
                                formControlName="firstName"/>
                        <span class="help-block" *ngIf="(employeeForm.get('firstName').touched ||
                                                        (employeeForm.get('firstName').dirty) &&
                                                        (employeeForm.get('firstName').errors))">
                                <span *ngIf="employeeForm.get('firstName').errors.required">
                                    Please enter firstName
                                </span>
                                <span *ngIf="employeeForm.get('firstName').errors.minlength">
                                   Min length should be 3
                                </span>

                        </span>
                    </div>
                </div>
                <div  class="form-group" [ngClass]="{'has-error':(employeeForm.get('lastName').touched ||
                                                                 employeeForm.get('lastName').dirty) &&
                                                                 !employeeForm.get('lastName').valid}">
                        <label class="col-md-2 control-label" for="lname">LastName</label>
                        <div class="col-md-8">
                            <input class="form-control"
                                    type="text"
                                    id="lname"
                                    placeholder="enter Last Name"
                                    formControlName="lastName"/>
                        <span class="help-block" *ngIf="(employeeForm.get('lastName').touched ||
                                                        (employeeForm.get('lastName').dirty) &&
                                                        (employeeForm.get('lastName').errors))">
                                        <span *ngIf="employeeForm.get('lastName').errors.required">
                                            Please enter lastName
                                        </span>
                                        <span *ngIf="employeeForm.get('lastName').errors.maxlength">
                                       Max lenght is 5
                                        </span>

                        </span>
                        </div>
                </div>
            <div formGroupName="emailGroup"
                [ngClass]="{'has-error':employeeForm.get('emailGroup').errors}">
                <div  class="form-group" [ngClass]="{'has-error':(employeeForm.get('emailGroup.email').touched ||
                                                                 employeeForm.get('emailGroup.email').dirty) &&
                                                                 !employeeForm.get('emailGroup.email').valid}">
                    <label class="col-md-2 control-label" for="email">Email</label>
                    <div class="col-md-8">
                        <input class="form-control"
                                type="text"
                                id="email"
                                placeholder="enter Email"
                                formControlName="email"/>
                    <span class="help-block" *ngIf="(employeeForm.get('emailGroup.email').touched ||
                                                    (employeeForm.get('emailGroup.email').dirty) &&
                                                    (employeeForm.get('emailGroup.email').errors))">
                        <span *ngIf="employeeForm.get('emailGroup.email').errors.required">
                            Please enter email
                        </span>
                        <span *ngIf="employeeForm.get('emailGroup.email').errors.pattern">
                           Please enter valid email
                        </span>

                    </span>
                </div>
                </div>
                <div  class="form-group" [ngClass]="{'has-error':(employeeForm.get('emailGroup.confirmEmail').touched ||
                                                                 employeeForm.get('emailGroup.confirmEmail').dirty) &&
                                                                 !employeeForm.get('emailGroup.confirmEmail').valid}">
                    <label class="col-md-2 control-label" for="confirmemail">Confirm Email</label>
                    <div class="col-md-8">
                        <input class="form-control"
                                type="text"
                                id="confirmemail"
                                placeholder="enter confirm  Email"
                                formControlName="confirmEmail"/>
                    <span class="help-block" *ngIf="(employeeForm.get('emailGroup.confirmEmail').touched ||
                                                    (employeeForm.get('emailGroup.confirmEmail').dirty) &&
                                                    (employeeForm.get('emailGroup.confirmEmail').errors))">
                        <span *ngIf="employeeForm.get('emailGroup.confirmEmail').errors.required">
                            Please enter email
                        </span>
                        <span *ngIf="employeeForm.get('emailGroup.confirmEmail').errors.match">
                            Email doesnt match
                        </span>
                    </span>
                </div>
                </div>
            </div>
<!---------------------------------------------------------------
                <div  class="form-group" [ngClass]="{'has-error':(employeeForm.get('email').touched ||
                                                                 employeeForm.get('email').dirty) &&
                                                                 !employeeForm.get('email').valid}">
                    <label class="col-md-2 control-label" for="email">Email</label>
                    <div class="col-md-8">
                        <input class="form-control"
                                type="text"
                                id="email"
                                placeholder="enter Email"
                                formControlName="email"/>
                    <span class="help-block" *ngIf="(employeeForm.get('email').touched ||
                                                    (employeeForm.get('email').dirty) &&
                                                    (employeeForm.get('email').errors))">
                        <span *ngIf="employeeForm.get('email').errors.required">
                            Please enter email
                        </span>
                        <span *ngIf="employeeForm.get('email').errors.pattern">
                           Please enter valid email
                        </span>

                    </span>
                </div>
                </div>
-------------------------------------------------------------------->
                <div  class="form-group" [ngClass]="{'has-error':(employeeForm.get('phone').touched ||
                                                                  employeeForm.get('phone').dirty) &&
                                                                  !employeeForm.get('phone').valid}">
                <label class="col-md-2 control-label" for="phone">Phone</label>
                    <div class="col-md-8">
                        <input class="form-control"
                        type="text"
                        id="phone"
                        placeholder="enter phone"
                        formControlName="phone"/>
                            <span class="help-block" *ngIf="(employeeForm.get('phone').touched ||
                                                            (employeeForm.get('phone').dirty) &&
                                                            (employeeForm.get('phone').errors))">
                                <span *ngIf="employeeForm.get('phone').errors.required">
                                Please enter Phone number
                                </span>
                            </span>
                        </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Send Notification</label>
                    <div class="col-md-8">
                        <label class="radio-inline">
                            <input type="radio" value="phone"
                                formControlName="notification"
                                (click)="setNotification('phone')"/>Phone
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="email"
                                formControlName="notification"
                                (click)="setNotification('email')"/>Email
                        </label>
                    </div>
                </div>
                <div  class="form-group" [ngClass]="{'has-error':(employeeForm.get('rating').touched ||
                                                                  employeeForm.get('rating').dirty) &&
                                                                  !employeeForm.get('rating').valid}">
                <label class="col-md-2 control-label" for="rating">Rating</label>
                    <div class="col-md-8">
                        <input class="form-control"
                        type="text"
                        id="rating"
                        placeholder="enter rating"
                        formControlName="rating"/>
                            <span class="help-block" *ngIf="(employeeForm.get('rating').touched ||
                                                            (employeeForm.get('rating').dirty) &&
                                                            (employeeForm.get('rating').errors))">
                                <span *ngIf="employeeForm.get('rating').errors.required">
                                Please enter rating
                                </span>
                                <span *ngIf="employeeForm.get('rating').errors.range">
                                Enter rating between 1 to 5
                                </span>

                            </span>
                        </div>
                    </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button type="submit"
                                    class="btn btn-success"
                                    [disabled]="!employeeForm.valid">
                                    Submit
                            </button>   
                        </span> &nbsp;
                        <span>
                            <button type="button"
                                    class="btn btn-primary"
                                    (click)="populateData()">
                                    Test Data
                            </button>   
                        </span>&nbsp;
                        <span>
                            <button type="reset"
                                    class="btn btn-danger">
                                    Reset
                            </button>   
                        </span>
                    </div>
                </div>
        </form>
    </div>
</div>