<h2>~~Products Page~~</h2>
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-6">
            <input/>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
            <input/>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
            <input/>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
            <input/>
    </div>
    <div>
        <button class="btn btn-success">Submit</button>
        <button class="btn btn-danger">Rest</button>
        <button class="btn btn-warning">Test Data</button>
        <button class="btn btn-info">Submit</button>
        <button class="btn btn-primary">Rest</button>
        <button class="btn btn-link">Test Data</button>
        <button class="btn btn-success">Submit</button>
        <button class="btn btn-danger">Rest</button>
        <button class="btn btn-warning">Test Data</button>
        <button class="btn btn-info">Submit</button>
        <button class="btn btn-primary">Rest</button>
        <button class="btn btn-link">Test Data</button>
    </div>
    <div class="alert alert-success">
        Form Submitted
    </div>
    
</div>
